{% extends 'navigation.html' %}
{% load static %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            
            <img src="{% static 'images/images.jpg' %}" style="width: 100%;">


        </div>
        <div class="col-sm-6 mt-4">
            <p><i class="fas fa-envelope"></i>Email ID: studynotes@gmail.com</p>
            <p><i class="fas fa-phone-square"></i>Phone: 999999999</p>
            <p><i class="fas fa-address-card"></i>Address: Dhanbad, Jharkhand, India</p>
            <p><i class="fas fa-clock"></i>Office Hours: 10:00 am to 04:00 pm</p>
            <p>Follow Us:</p>
            <a href="#"><i class="fab fa-facebook-f "></i></a>
            <a href="#"><i class="fab fa-twitter pl-4"></i></a>
            <a href="#"><i class="fab fa-linkedin pl-4"></i></a>
            <a href="#"><i class="fab fa-instagram pl-4"></i></a>

        </div>

    </div>

    
    
    
</div>

{% endblock %}