{% extends 'navigation.html' %}
{% block body %}
{%load static%}
<style>
.img{
    width: 100%;
    height: 450px;
    background-color: rgb(86, 210, 210);
}
.marq{
    font-size: 50px;
    padding: 40px;
}
</style>
<div class="img">
    <marquee>
        <div class="marq">
            Share your notes here
        </div>
    </marquee>
    
</div>
<h4 class="text-center text-danger mt-4 mb-4">Steps to follow</h4>
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="box1">
                <p class="halfcircle"><i class="fas fa-user-circle text-center mt-4" style="font-size: 40px;"></i></p>
                <p class="halfcirclebottom">Create Account</p>
            </div>  
        </div>
        <div class="col-sm-3">
            <div class="box1">
                <p class="halfcircle"><i class="fas fa-sign-in-alt text-center mt-4" style="font-size: 40px;"></i></p>
                <p class="halfcirclebottom">Login</p>
            </div>  
        </div>
        <div class="col-sm-3">
            <div class="box1">
                <p class="halfcircle"><i class="fas fa-upload text-center mt-4" style="font-size: 40px;"></i></p>
                <p class="halfcirclebottom">Upload Notes</p>
            </div>  
        </div>
        <div class="col-sm-3">
            <div class="box1">
                <p class="halfcircle"><i class="fas fa-download text-center mt-4" style="font-size: 40px;"></i></p>
                <p class="halfcirclebottom">Download Notes</p>
            </div>  
        </div>
    </div>
</div>
<br>
<br>
{% endblock %}