{% extends 'navigation.html' %}
{% load static %}
{% block body %}
{% ifequal error "no" %}
<script>
    alert('Logged In Successfully');
    window.location=('{% url 'user_profile' %}');
</script>
{% endifequal %}

{% ifequal error "yes" %}
<script>
    alert('Invalid Login Credentials');
</script>
{% endifequal %}
<style>
    .boxlogin {
  margin: 10% auto;
  display: block;
  width:400px;
  text-align:center;
}

</style>
<div class="boxlogin" >
    <h2 class="text-center">LOGIN</h2>
    <hr>
    <form method="post">
        {% csrf_token %}
        <label>Email ID</label>
        <input class="form-control" type="email" placeholder="Enter Email ID" name="eml">
        <label>Password</label>
        <input class="form-control" type="password" placeholder="password" name="pass">
        <input type="submit" class="btn btn-primary mt-2" value="LOGIN" >
    </form>
    <p>New User?</p>
    <a href="{% url 'signup' %}" class="btn btn-primary">Create Account</a>
</div>




{% endblock %}